#tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.tag {
  cursor: pointer;
  opacity: 0.2;
  text-decoration: none;
}

.tag.active {
  opacity: 1;
  color: #fce566;
}

@media (hover: hover) {
  .tag:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

.task {
  display: flex;
  align-items: flex-start;
  gap: 0.5ch;
}

.task textarea {
  background-color: inherit;
}

.input_wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1ch;
  width: 100%;
}

#input {
  flex-grow: 1;
}

#input_clear {
  display: block;
}

@media (hover: hover) {
  #input_clear {
    display: none;
  }
}

#status {
  color: #fc618d;
}
