body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.tag {
  cursor: pointer;
  opacity: 0.2;
  text-decoration: none;
}

.active_tag {
  color: #fce566 !important;
  display: inline-block;
}

@media (hover: hover) {
  .tag:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

.button {
  cursor: pointer;
}

@media (hover: hover) {
  .button:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

#remainder {
  margin-top: var(--line-height-unit);
}

#tasks {
  margin-bottom: var(--line-height-unit);
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  min-height: 50%;
}

.task {
  display: flex;
  align-items: flex-start;
  gap: 0.5ch;
}

.task textarea {
  background-color: inherit;
}

.input_wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1ch;
  width: 100%;
}

#input {
  flex-grow: 1;
}

#input_clear {
  display: block;
}

@media (hover: hover) {
  #input_clear {
    display: none;
  }
}

#status {
  color: #fc618d;
}
