@font-face {
  font-family: JetBrains Mono;
  src: url(/static/fonts/JetBrainsMonoNerdFontMono-Regular.ttf);
}

body {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  background-color: #1a1b1e;
  margin: 0 auto;
  font-family: JetBrains Mono;
  font-size: 16pt;
  color: white;
}

@media (max-width: 600px) {
  body {
    font-size: 24pt;
  }

  button {
    padding: 0.8rem 1.5rem;
    width: 100px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li::before {
  content: "- ";
  white-space: pre;
}

li li::before {
  content: "  - ";
  white-space: pre;
}

a {
  color: #49a1f8;
}

textarea, button {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

textarea {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, .2);
  padding: 0;
}

textarea::placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder {
  color: inherit;
  opacity: 0.2;
}

/* GENERATED */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  cursor: pointer;

  font-size: inherit;
  font-family: inherit;
}

input[type="checkbox"]::before {
  content: '[ ] ';
  white-space: pre;
  opacity: 0.2;
}

input[type="checkbox"]:checked::before {
  content: '[x] ';
  white-space: pre;
}

input[type="checkbox"]:hover::before {
  content: '[.] ';
  white-space: pre;
}
