@font-face {
  font-family: JetBrains Mono;
  src: url(../fonts/JetBrainsMonoNerdFontMono-Regular.ttf);
    /* should be relative to work with cache busting prefix */
}

:root {
  --font-size: 16pt;
  --line-height: 1.2;
  --line-height-unit: calc(var(--line-height) * var(--font-size));
  --punctuation-opacity: 0.2;

  --dark2: #131313;
  --dark1: #191919;
  --background: #222222;
  --text: #f7f1ff;
}

body {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  background-color: var(--background);
  margin: 0 auto;
  font-family: 'JetBrains Mono', Consolas, "Courier New", monospace;
  font-variant-ligatures: common-ligatures;

  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text);
}

@media (max-width: 600px) {
  /* ADAPTIVE DESIGN WILL GO HERE */
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li::before {
  content: "- ";
  white-space: pre;
}

li li::before {
  content: "  - ";
  white-space: pre;
}

a {
  color: #49a1f8;
}

h1::before {
  content: '# ';
  opacity: var(--punctuation-opacity);
}

h1 {
  font-size: inherit;
  margin-top: var(--line-height-unit);
  margin-bottom: var(--line-height-unit);
}

textarea, button, input[type="text"] {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea, input[type="text"] {
  border: none;
  outline: none;
  background-color: var(--dark1);
  padding: 0;
}

textarea {
  resize: none; /* Hide the manual drag handle */
  overflow-y: hidden; /* Hide scrollbar */
  height: auto;
  min-height: 2rem; /* Initial height */

  width: 100%;
  box-sizing: border-box;
}

textarea::placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder {
  color: inherit;
  opacity: var(--punctuation-opacity);
}

.punctuation {
  opacity: var(--punctuation-opacity);
}

/* GENERATED */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  cursor: pointer;

  font-size: inherit;
  font-family: inherit;
  color: inherit;
  min-width: 4ch;
}

input[type="checkbox"]::before {
  content: '[ ] ';
  white-space: pre;
  opacity: var(--punctuation-opacity);
}

input[type="checkbox"]:checked::before {
  content: '[x] ';
  white-space: pre;
  cursor: default;
}

input[type="checkbox"]:hover::before {
  content: '[x] ';
  white-space: pre;
}
