@font-face {
  font-family: JetBrains Mono;
  src: url(/static/fonts/JetBrainsMonoNerdFontMono-Regular.ttf);
}

:root {
  --font-size: 16pt;
  --line-height: 1.2;
  --line-height-unit: calc(var(--line-height) * var(--font-size));
  --punctuation-opacity: 0.2;
}

body {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  background-color: #1a1b1e;
  margin: 0 auto;
  font-family: JetBrains Mono;
  color: white;

  font-size: var(--font-size);
  line-height: var(--line-height);
}

@media (max-width: 600px) {
  body {
    font-size: 24pt;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li::before {
  content: "- ";
  white-space: pre;
}

li li::before {
  content: "  - ";
  white-space: pre;
}

a {
  color: #49a1f8;
}

h1::before {
  content: '# ';
  opacity: var(--punctuation-opacity);
}

h1 {
  font-size: inherit;
  margin-top: var(--line-height-unit);
  margin-bottom: var(--line-height-unit);
}

textarea, button {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

textarea {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, var(--punctuation-opacity));
  padding: 0;
}

textarea::placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder {
  color: inherit;
  opacity: var(--punctuation-opacity);
}

.punctuation {
  opacity: var(--punctuation-opacity);
}

/* GENERATED */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  cursor: pointer;

  font-size: inherit;
  font-family: inherit;
}

input[type="checkbox"]::before {
  content: '[ ] ';
  white-space: pre;
  opacity: var(--punctuation-opacity);
}

input[type="checkbox"]:checked::before {
  content: '[x] ';
  white-space: pre;
}

input[type="checkbox"]:hover::before {
  content: '[.] ';
  white-space: pre;
}
