<!DOCTYPE html>
<html>
<head>
    <title>Auth{{if not .ReleaseMode}} (dev){{end}}</title>
    <link rel="stylesheet" href="{{.StaticRoot}}/css/auth.css" />
    {{ template "head" . }}
</head>
<body>
    <h1>Authorization</h1>
    <input type="text" id="login" placeholder="SirLancelot223" /><br />
    <input type="password" id="password" placeholder="******" /><br /><br />
    <button id="submit">Submit</button><br /><br />
    <span id="status"></span>

    <script type="module" src="{{.StaticRoot}}/js/auth.js"></script>
</body>
</html>
