{{ define "head" }}
<link rel="stylesheet" href="{{.StaticRoot}}/css/tui.css" />
<script type="importmap">
{
    "imports": {
        "/static/": "{{.StaticRoot}}/"
    }
}
</script>
<meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Adaptive phone design -->
<link
    rel="icon" type="image/png"
    href="{{.StaticRoot}}/favicon{{if not .ReleaseMode}}-debug{{end}}.png"
/>
{{ end }}
