<!DOCTYPE html>
<html>
<head>
    <title>Looper {{if not .ReleaseMode}} (dev){{end}}</title>
    <link rel="stylesheet" href="{{.StaticRoot}}/css/tui.css" />
    <link rel="stylesheet" href="{{.StaticRoot}}/css/index.css" />
    <script type="importmap">
    {
        "imports": {
            "/static/": "{{.StaticRoot}}/"
        }
    }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Adaptive phone design -->
    <link
        rel="icon" type="image/png"
        href="{{.StaticRoot}}/favicon{{if not .ReleaseMode}}-debug{{end}}.png"
    />
</head>
<body>
    <h1>The Looper</h1>
    <div id="tags"></div>
    <br />

    <div id="tasks">
        <span class="punctuation">Loading...</span>
    </div>
    <br />

    <textarea rows="1" id="input" enterkeyhint="enter" placeholder="{{.Idiom}}" autofocus></textarea>

    <script type="module" src="{{.StaticRoot}}/js/index.js"></script>
</body>
</html>

