<!DOCTYPE html>
<html>
<head>
    <title>Looper {{if not .Config.ReleaseMode}} (dev){{end}}</title>
    <link rel="stylesheet" href="/static/css/tui.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Adaptive phone design -->
    <link rel="icon" type="image/png" href="/static/favicon{{if not .Config.ReleaseMode}}-debug{{end}}.png">
</head>
<body>
    <h1>The Looper</h1>
    <div id="tags"></div>
    <br />

    <div id="tasks">
        <span class="punctuation">Loading...</span>
    </div>
    <br />

    <textarea rows="1" id="new-task-text" enterkeyhint="enter" placeholder="{{.Idiom}}" autofocus></textarea>

    <script src="/static/lib/axios.min.js"></script>
    <script type="module" src="/static/js/index.js?t={{.Config.StartupTime}}"></script>
    <!-- .Config.StartupTime is for cache busting -->
</body>
</html>

