<!DOCTYPE html>
<html>
<head>
    <title>Looper</title>
    <link rel="stylesheet" href="/static/css/tui.css" />
    <!-- <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">-->
</head>
<body>
    <div id="tasks">
        Loading...
    </div>
    <textarea id="new-task-text"></textarea>
    <button type="button" id="new-task-button">Add task</button>
    <script src="/static/lib/axios.min.js"></script>
    <script type="module" src="/static/js/index.js"></script>
</body>
</html>

